<div class="py2 post-footer">
<hr/>
Etiquetes:
<nav>

     {% for t in page.tags %}
        
         <a href="/archive/#tag-{{t}}"><strong>{{t}}</strong></a> {% if forloop.last %}.{% else %}, {% endif %}
     
     
     {% endfor %}
</nav>

<hr/>
Altres categories:
<nav>
     <a href="/archive">Tots (all), </a>
     {% for category in site.categories %}
         <a href="/archive/#cat-{{ category | first | remove:' ' }}"><strong>{{ category | first }}</strong></a> {% if forloop.last %}.{% else %}, {% endif %}
     {% endfor %}
</nav>
</div>
